*, *::before, *::after {
  font-family: Arial, Roboto, Helvetica, sans-serif;
  box-sizing: border-box;
}

html, body {
  font-family: Arial, Roboto, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 100%;
  color: #1f2023;
}

#google-apps {
  display: none;
  visibility: none;
}

#account {
  display: none;
  visibility: none;
}

/* .container {
  background-color: #d3d3d3;
} */


/* -------------------------------- */


header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  padding: 6px 8px;
  height: 60px;
  width: 100%;
}
.container {
  display: grid;
  grid-template-columns: auto auto repeat(2, 40px);
  align-items: center;
  grid-gap: 8px;
  padding: 4px 6px;
}

.container > div:nth-child(2) {
  padding-right: 12px;
}

.nav-link {
  font-size: .82rem;
  color: #1f2023;
  font-weight: 400;
  line-height: 1.5rem;
  text-decoration: inherit;
  padding-left: 6px;
}

.nav-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.header-icon-lg {
  width: 32px;
  height: 32px;
  border-radius: 999px;
}

.header-icon-sm {
  width: 24px;
  height: 24px;
  opacity: 0.6;
}

.header-dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 999px;
}

.header-dropdown:hover {
  background-color: #F0F0F0;
  cursor: pointer;
}

.menu {
  position: relative;
}