*,
*::before,
*::after {
	font-family: Arial, Roboto, Helvetica, sans-serif;
	box-sizing: inherit;
}

html,
body {
	font-family: Arial, Roboto, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #1f2023;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.body-wrapper {
	height: 100%;
	display: flex;
	flex-flow: column nowrap;

	justify-content: space-between;
}

/* ==== HEADER ==== */

header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	text-decoration: none;
	padding: 6px 8px;
	height: 60px;
	width: 100%;

	margin-bottom: 10px;
}
.header-container {
	display: grid;
	grid-template-columns: auto auto repeat(2, 40px);
	align-items: center;
	grid-gap: 8px;
	padding: 4px 6px;

	float: right;
}

.header-container > div:nth-child(2) {
	padding-right: 12px;
}

.nav-link {
	font-size: 0.82rem;
	color: #1f2023;
	font-weight: 400;
	line-height: 1.5rem;
	text-decoration: inherit;
	padding-left: 6px;
}

.nav-link:hover {
	cursor: pointer;
	text-decoration: underline;
}

.header-icon-lg {
	width: 32px;
	height: 32px;
	border-radius: 999px;
}

.header-icon-sm {
	width: 24px;
	height: 24px;
	opacity: 0.6;
}

.header-dropdown {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 40px;
	border-radius: 999px;
}

.header-dropdown:hover {
	background-color: #f0f0f0;
	cursor: pointer;
}

/* ==== APPS ==== */

.menu {
	position: relative;
	z-index: 1;
}

.header-dropdown:hover ~ .nav-dropdown {
	display: block;
}

.nav-dropdown {
	position: fixed;
	display: none;
	box-sizing: border-box;
	top: 70px;
	right: 16px;
	background-color: #ffffff;
	max-height: -webkit-calc(100vh - 55px - 150px);
	max-height: calc(100vh - 55px - 150px);
	width: 334px;
	border: 1.5px solid #c3c4c7d2;
	border-radius: 8px;
	padding: 12px 0 0;

	overflow-x: hidden;
	overflow-y: auto;
	text-align: center;

	z-index: 999px;

	box-shadow: 0 0 3px 2px rgba(32, 33, 36, 0.15);
}

.nav-dropdown::-webkit-scrollbar {
	width: 1.16rem;
}

.nav-dropdown::-webkit-scrollbar-track {
	background-color: transparent;
}

.nav-dropdown::-webkit-scrollbar-thumb {
	background-color: #dadce0;
	border-radius: 25px;
	box-shadow: inset 0 0 0 5px white;
}

.nav-app-container {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	overflow: hidden;
	width: 100%;
	right: -14px;
	box-sizing: border-box;

	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	cursor: pointer;

	padding: 0;
	margin: 0;
	margin-bottom: 5px;
}

.nav-app {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;

	flex: 0 1;
	color: #1f2023;
	box-sizing: border-box;
	padding: 16px 10px 10px;
	border-radius: 8px;
	text-decoration: none;

	width: calc((354px / 3) - 25px);

	margin-right: 11px;
	margin-bottom: 10px;
}

.nav-app:hover {
	background-color: #e8f0fe;
}

.user-app-img {
	border-radius: 999px;
	width: 40px;
	height: 40px;
}

.nav-app-img {
	height: 40px;
	margin-bottom: 5px;
}

.nav-app-title {
	font-size: 0.85rem;
	color: #1f2023;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	line-height: 1.1rem;
	text-align: center;
	width: 10ch;

	overflow: hidden;
	word-wrap: none;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.nav-app-footer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	text-align: center;
	padding: 1rem;
	vertical-align: center;
	line-height: 1;
}

.nav-app-btn {
	display: inline-block;
	font-size: 0.85rem;
	color: #0e5cd1;
	line-height: 1.5rem;
	border: 1px solid #dfe1e5;
	padding: 10px 18px;
	border-radius: 5px;
	line-height: 1.1rem;
	text-align: center;

	margin: 0;
	margin-left: 12px;
	overflow: hidden;
	word-wrap: none;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.accounts-container {
	display: flex;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	flex-flow: column wrap;

	width: 334px;
	height: 100%;
	align-items: center;
	justify-content: flex-start;
}

.active-profile {
	position: relative;
	display: block;
	box-sizing: inherit;
	width: 80px;
	height: 80px;
	margin-top: 7px;
	margin-bottom: 1.4rem;
}

.active-profile-img {
	display: block;
	width: 80px;
	height: 80px;
	border-radius: 999px;
}

.active-profile-settings {
	position: absolute;
	display: block;
	border-radius: 999px;
	padding: 3px;
	bottom: -10px;
	right: -5px;
	background-color: #ffffff;
	border: 0.5px solid #ffffff;

	z-index: 1;
}

.active-profile-edit {
	display: block;
	height: 26px;
	width: 26px;
	background-color: #ffffff;
	border-radius: 999px;
	text-align: center;
	box-shadow: 0 1px 1px 0 rgb(65 69 73 / 30%), 0 1px 3px 1px rgb(65 69 73 / 15%);
}

.active-profile-edit:hover {
	fill: #0e5cd1;
	cursor: pointer;
	background-color: rgba(14, 92, 209, 0.05);
}

.accounts-container h3 {
	color: #202124;
	font-size: 1rem;
	font-weight: 500;
	font-family: inherit;
	margin-bottom: 5px;
}

.accounts-container p {
	color: #5f6368;
	font-weight: 400;
	font-family: inherit;
	font-size: 0.87rem;
	margin-bottom: 18px;
}

.other-accounts {
	display: flex;
	flex-flow: column wrap;
	border-top: 1px solid #dadce0;
	/* width: 334px; */
	width: 100%;
	margin-top: 24px;
}

.accounts-list {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;

	width: 100%;
	min-height: 34px;
	padding: 0.5rem 0 0.5rem 1.85rem;
	padding-left: 1.85rem;
	box-sizing: inherit;
	height: 3.5rem;
}

.accounts-list:hover {
	background-color: #f7f8f8;
}

.accounts-list-img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background-color: transparent;

	width: 32px;
	height: 32px;
	border-radius: 999px;
	margin: 0;

	fill: rgba(0, 0, 0, 0.5);
}

.profile-img {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 999px;
}

.list-details {
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	justify-content: space-between;
	margin-left: 0.85rem;
}

.list-details h5 {
	color: #202124;
	font-size: 0.85rem;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	margin: 0;

	margin-bottom: 5px;
}

.list-details p {
	color: #5f6368;
	font-size: 0.75rem;
	font-family: inherit;
	line-height: 1.1;
	margin: 0;
}

.logout-accounts {
	display: block;
	width: 100%;
	border-top: 1px solid #dadce0;
	border-bottom: 1px solid #dadce0;
	padding: 1rem 0;
}

.nav-app-links {
	font-size: 0.75rem;
	vertical-align: center;
}

.btn {
	display: inline-block;
	color: #202124;
	font-family: inherit;
	font-weight: 500;
	padding: 9px 18px;
	line-height: 1.1;
	vertical-align: baseline;
	font-size: 0.87rem;
	border: 1px solid #dadce0;
	border-radius: 999px;
}

.btn:hover {
	background-color: rgba(218, 220, 224, 0.2);
	cursor: pointer;
}

.btn-square {
	border-radius: 5px;
}

/* ==== SEARCHBAR ==== */

.main-section {
	display: flex;
	flex-direction: column;
	-ms-flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: flex-start;

	padding: 0 1rem;
	/* height: auto; */
}

.searchbar-section {
	display: block;
	width: 100%;
	max-width: 584px;
	padding-top: 1.5rem;
	flex: 0 1 100%;
}

.searchbar {
	display: flex;
	flex-direction: row;
	-ms-flex-direction: row;
	align-items: center;
	height: 46px;
	border: 1px solid #dfe1e5;
	border-radius: 999px;
	transition: box-shadow 50ms;
}

.searchbar-input {
	position: relative;
	display: flex;
	align-items: center;
	flex: 1;
	height: 100%;
}

.searchbar-input input {
	position: relative;
	height: 100%;
	width: 100%;
	font-size: inherit;
	font-weight: 400;
	white-space: nowrap;
	word-wrap: none;
	border: none;
	border-radius: 0;
	outline: none;
}

.searchbar-input input::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

.searchbar-input-btn {
	display: block;
	position: relative;
	right: -6px;
	height: 30px;
	background-color: transparent;
	border: none;
	padding: 0 14px 0 0;
	border-right: 1px solid lightgray;
	margin-right: 6px;

	box-shadow: none;
	outline: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	cursor: pointer;

	opacity: 0;
	transition: opacity 100ms;
}

.searchbar-input-icon {
	padding: 0;
	margin: 0;
	width: 24px;
	opacity: 0.55;
	vertical-align: middle;
}

.searchbar-input input:focus ~ .searchbar-input-btn {
	opacity: 1;
	display: block;
}

.searchbar:hover {
	box-shadow: 0 1px 4px 0.75px rgba(32, 33, 36, 0.15);
}

.searchbar-btn {
	flex: 0 0 0;
}

.searchbar-icon-lg {
	width: 24px;
	height: 24px;
}

.searchbar-icon-sm {
	width: 20px;
	height: 20px;
	opacity: 0.4;
}

.voice:hover {
	cursor: pointer;
}

.searchbar-btn {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 15px;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.searchbar > .searchbar-btn:nth-child(1) {
	border: none;
	outline: none;
}

.searchbar > .searchbar-btn:nth-child(3) {
	background-color: transparent;
	border: none;
	outline: none;
}

.submit-section {
	display: flex;
	justify-content: center;
	align-items: flex-start;

	margin-top: 2rem;
}

.submit-section > button {
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.5rem;
	background-color: #f8f9fa;
	text-align: center;
	min-height: 2.25rem;
	border-radius: 4px;
	border: 1px solid #f8f9fa;
	box-shadow: none;
	outline: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;

	margin: 0 4px;
	padding: 0 16px;

	transition: border 50ms;
}

.submit-section > button:hover {
	cursor: pointer;
	box-shadow: none;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.lang-section {
	display: block;
	font-size: 0.81rem;
	line-height: 1.5rem;
	text-align: center;
	text-decoration: none;
	margin-top: 1.45rem;
}

.lang-section a {
	line-height: inherit;
	text-decoration: inherit;
	color: #1a0dab;
	padding: 0 0.15rem;
}

.lang-section a:hover {
	text-decoration: underline;
}

/* ==== FOOTER ====*/

.footer-container {
	display: flex;
	flex-flow: column;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.87rem;
	background-color: #f2f2f2;
}

.footer-links {
	color: #70757a;
	font-family: inherit;
	font-size: inherit;
	padding: 0 15px;
	margin: 0;
}

.footer-links:hover {
	text-decoration: underline;
}

.footer-link-icon {
	width: 13.25px;
	vertical-align: middle;
	margin-right: -10px;
	margin-top: -3px;
}

.footer-section-locale {
	padding: 18px 16px;
	border-bottom: 1px solid #70757a21;
}

.footer-section {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	padding: 18px 16px;
	width: 100%;
}

.footer-section-about {
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	min-width: 30%;
	order: 1;
}

.footer-section-project {
	display: flex;
	flex-flow: row;
	justify-content: center;
	order: 2;
}

.footer-section-terms {
	display: flex;
	flex-flow: row;
	justify-content: flex-end;
	min-width: 30%;
	order: 3;
}

@media screen and (max-width: 1200px) {

	/* ==== FOOTER ==== */

	.footer-section {
		flex-flow: row wrap;
		justify-content: space-around;
	}

	.footer-section-about {
		justify-content: center;
		order: 2;
	}

	.footer-section-project {
		order: 1;
		margin-bottom: 2rem;
		flex: 1 1 100%;
	}

	.footer-section-terms {
		order: 3;
	}
}

@media screen and (max-width: 768px) {

	/* ==== FOOTER ==== */

	.footer-section {
		flex-flow: column;
		justify-content: center;
	}

	.footer-section-about {
		justify-content: center;
		order: 2;

		margin-bottom: 2rem;
	}

	.footer-section-project {
		justify-content: center;
		order: 1;

		margin-bottom: 2rem;
	}

	.footer-section-terms {
		justify-content: center;
		order: 3;
	}
}
