*, *::before, *::after {
  font-family: Arial, Roboto, Helvetica, sans-serif;
  box-sizing: border-box;
}

html, body {
  font-family: Arial, Roboto, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #1f2023;
  min-height: 100vh;
}

#google-apps {
  display: none;
  visibility: none;
}

#account {
  display: none;
  visibility: none;
}

/* .container {
  background-color: #d3d3d3;
} */


/* HEADER */


header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  padding: 6px 8px;
  height: 60px;
  width: 100%;
}
.container {
  display: grid;
  grid-template-columns: auto auto repeat(2, 40px);
  align-items: center;
  grid-gap: 8px;
  padding: 4px 6px;
}

.container > div:nth-child(2) {
  padding-right: 12px;
}

.nav-link {
  font-size: .82rem;
  color: #1f2023;
  font-weight: 400;
  line-height: 1.5rem;
  text-decoration: inherit;
  padding-left: 6px;
}

.nav-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.header-icon-lg {
  width: 32px;
  height: 32px;
  border-radius: 999px;
}

.header-icon-sm {
  width: 24px;
  height: 24px;
  opacity: 0.6;
}

.header-dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 999px;
}

.header-dropdown:hover {
  background-color: #F0F0F0;
  cursor: pointer;
}

.menu {
  position: relative;
}


/* SEARCH */


.main-section {
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  align-items: center;
  text-align: center;

  padding: 0 1rem;
}

.searchbar-section {
  width: 100%;
  max-width: 584px;
  padding-top: 1.5rem;
  flex: 0 1 100%;
}

.searchbar {
  display: flex;
  flex-direction: row;
  -ms-flex-direction: row;
  align-items: center;
  height: 46px;
  border: 1px solid #dfe1e5;
  border-radius: 999px;
  transition: box-shadow 50ms;
}

.searchbar-input {
  flex: 1 1 100%;
  height: 100%;
  font-size: inherit;
  font-weight: 400;
  white-space: nowrap;
  word-wrap: none;
  border: none;
  border-radius: 0;
  outline: none;
}

.searchbar-btn {
  flex: 0 0 0;
}

.searchbar-icon-lg {
  width: 24px;
  height: 24px;
}

.searchbar-icon-sm {
  width: 20px;
  height: 20px;
  opacity: 0.4;
}

.searchbar-btn {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 15px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.searchbar > .searchbar-btn:nth-child(1) {
  border: none;
  outline: none;
}

.searchbar > .searchbar-btn:nth-child(3) {
  background-color: transparent;
  border: none;
  outline: none;
}

.searchbar:hover {
  box-shadow: 0 1px 4px .75px rgba(32,33,36,.15)
}

.voice:hover {
  cursor: pointer;
}

.submit-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  margin-top: 2rem;
}

.submit-section > button {
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5rem;
  background-color: #f8f9fa;
  text-align: center;
  min-height: 2.25rem;
  border-radius: 4px;
  border: 1px solid #f8f9fa;
  box-shadow: none;
  outline: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  margin: 0 4px;
  padding: 0 16px;

  transition: border 50ms;
}

.submit-section > button:hover {
  cursor: pointer;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.lang-section {
  display: inline-block;
  font-size: .81rem;
  line-height: 1.5rem;
  text-align: center;
  text-decoration: none;
  margin-top: 1.45rem;
}

.lang-section a {
  line-height: inherit;
  text-decoration: inherit;
  color: #1a0dab;
  padding: 0 .15rem;
}